@import "tailwindcss";


* {
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
}

.loginInput {

  @apply w-full h-12 sm:h-14 rounded-full px-6 bg-white/20 border border-white/30 text-white placeholder:text-blue-100 outline-none;

}



.signupInput {

  @apply w-full h-12 sm:h-14 rounded-full px-6 bg-white/70 border border-white text-black placeholder:text-gray-600 outline-none;

}

.hide-scrollbar {

  scrollbar-width: none;

  -ms-overflow-style: none;

}


.hide-scrollbar::-webkit-scrollbar {

  display: none;

}

@keyframes slideUp {

  from {

    opacity: 0;

    transform: translateY(40px);

  }


  to {

    opacity: 1;

    transform: translateY(0);

  }

}

@keyframes revealUp {

from {

opacity:0;

transform:translateY(40%);

}


to {

opacity:1;

transform:translateY(0);

}

}

@keyframes slideLeft {

    from{

        transform:translateX(100%);

    }


    to{

        transform:translateX(0);

    }

}



.animate-slideLeft{

    animation:slideLeft 0.3s ease-out;

}

html{

    scroll-behavior:smooth;

}

@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(10px);
    }


    to{
        opacity:1;
        transform:translateY(0);
    }

}


.animate-fadeIn{

    animation:fadeIn 0.2s ease-out;

}

/* ORANGE AUTO HIDING SCROLLBAR */

.custom-scroll {
    scrollbar-color: #f97316 transparent;
    scrollbar-width: thin;
}


.custom-scroll::-webkit-scrollbar {
    height: 5px;
}


.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}


.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #f97316;
    border-radius: 50px;
}